---
title: Homepage
layout: layouts/base.njk
templateEngineOverride: njk,md
---
{% include "home_sections/about.html" %}
<div id="skills">
  <span>Skills</span>
</div>
<div id="contact">
  <span>Contact</span>
</div>