---
title: Homepage
layout: layouts/base.njk
---
<div id="about" style="block-size: 300px;" class="flex">
  <span>About Me</span>
</div>
<div id="skills">
  <span>Skills</span>
</div>
<div id="contact">
  <span>Contact</span>
</div>